<% @title="Past Problems" %>
<h1 class="text-center p-1">Past Problems</h1>

<div class="table-responsive-md">
	<table class="table table-striped table-hover">
		<thead>
			<tr class="text-center">
				<th scope="col" class="text-left">Problem</th>
				<th scope="col">Average Score</th>
				<th scope="col">Points</th>
				<th scope="col">Completed</th>
			</tr>
		</thead>

		<tbody class="table_here">
		</tbody>
	</table>
	<%= link_to "Update Table", "/update_past_problems", remote: true, method: :patch, :id => "click_me", :class => "d-none" %>
<script type="text/javascript">
	document.getElementById("click_me").click()
</script>
</div>