<% @title=@problem.title %>
<div class="text-center">
	<h1><%= @problem.title %></h1>
	<div class="text-left">
		<%= render plain: @markdown.render(@problem.body).html_safe %>
	</div>
	<% if current_user %>
		<% @default=@problem.title %> 
		<%= link_to "Make Submission", "/submissions/new?prob_id=#{@problem.id}", :class => "btn btn-success" %>
		<br /><br />
	<% end %>
	<% if admin_status %>
		<%= render "manage_post_buttons" %>
	<% end %>
</div>