<% if not admin_status %>
	<%= controller.redirect_to '/' %>
<% else %>

	<% @title="Manage Users" %>
	<h1 class="text-center p-1">Manage Users</h1>
	<table class="table table-striped table-hover">
		<thead>
			<tr class="text-center">
				<th scope="col" class="text-left">User</th>
				<th scope="col">Total Score</th>
				<th scope="col">Rank</th>
			</tr>
		</thead>
		<tbody class="table_here">
		</tbody>
	</table>
	<%= link_to "Update Table", "/update_user_table", remote: true, method: :patch, :id => "click_me", :class => "d-none" %>
<script type="text/javascript" class="dascript">
document.getElementById("click_me").click()
</script>
<% end %>